<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.sys.mapper.MenusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xhn.sys.model.MenusEntity">
        <id column="id" property="id" />
        <result column="route_name" property="routeName" />
        <result column="parent_id" property="parentId" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
        <result column="rank" property="rank" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="title" property="title" />
        <result column="route_path" property="routePath" />
        <result column="component" property="component" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, route_name, parent_id, url, icon, rank, created_at, updated_at, title, route_path, component
    </sql>

</mapper>
